.row.teaser
  .four.columns.alpha
    img(src='/images/template/two_faces.png', alt='Just the two of us.')

  .twelve.columns.omega
    p Thank you for being part of our special day! Don’t forget to take a look at our <a href="/photos">Photo Album</a> or to check out the <a href="/story">Story Of How We Met</a>. Also if you are thinking about giving us a little something but don’t know what we’d like, please visit the <a href="/registry">Registry Page</a>, where items in all price ranges are listed.
