!!! 5
html
  head
    link(rel='stylesheet', media='screen, projection', href='/stylesheets/main.css')
    title= title

  body(class=locals.bodyClass)
    .content-wrapper

      #main(role='main')
        .container
          block content

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js')
    script if (typeof window.jQuery == 'undefined') { document.write(unescape("%3Cscript src='/javascripts/vendor/jquery-1.9.0.min.js' type='text/javascript'%3E%3C/script%3E")); }
    script(src='/javascripts/vendor/modernizr-2.6.2.min.js')
    script(src='/javascripts/vendor/jquery.nyroModal.min.js')
    script(src='/javascripts/main.js')