!!! 5
html.no-js(lang='en', dir='ltr')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    //if lt IE 9
      script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
    link(rel='stylesheet', media='screen, projection', href='/stylesheets/main.css')
    title= title + ' | ' + site_name
    meta(name='description', content='')
    meta(name='keywords', content='')
  body
    .content-wrapper
      header
        .container
          p header

      #main(role='main')
        .container
          block content

      footer#footer
        .container
          p Footer

    script(src='/javascripts/vendor/jquery-1.9.0.min.js')
    script(src='/javascripts/vendor/modernizr-2.6.2.min.js')
    script(src='/javascripts/main.js')
    script(type='text/javascript')
      var _gaq = _gaq || []; _gaq.push(['_setAccount', '#{ga_tracking_code}']); _gaq.push(['_trackPageview']); (function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();