extends layout

block content
  include partials/teaser

  .row
    .sixteen.columns.alpha.omega
      .content
        .content-top

        h1= title

        .photo-album
          each photo, i in locals.photos
            a.photo(href=photo.fullPath, class=(i%3-2) ? '' : 'last', rel='gal')
              .dark
              img(src=photo.thumbPath, alt='Will & Megan')
              .zoom Zoom

        .content-bottom
