extends empty

block content
  .row
    .sixteen.columns.alpha.omega
      .content
        .content-top

        h1= title

        .photo-album
          .photo
            img(src='/images/placeholder/photo.jpg', alt='yikes')
          .photo
            img(src='/images/placeholder/photo.jpg', alt='yikes')
          .photo
            img(src='/images/placeholder/photo.jpg', alt='yikes')
          .photo
            img(src='/images/placeholder/photo.jpg', alt='yikes')
          .photo
            img(src='/images/placeholder/photo.jpg', alt='yikes')
          .photo
            img(src='/images/placeholder/photo.jpg', alt='yikes')
          .photo
            img(src='/images/placeholder/photo.jpg', alt='yikes')

        .content-bottom