extends layout

block content
  include partials/teaser

  .row
    .sixteen.columns.alpha.omega
      .content
        .content-top

        h1= title

        .photo-album
          each photo in locals.photos
            a.photo(href=photo.fullPath)
              img(src=photo.thumbPath, alt='Will & Megan')

        .content-bottom