extends empty

block content
  .row
    .sixteen.columns.alpha.omega
      .content
        .content-top

        h1= title

        .photo-album
          a.photo(href='/images/placeholder/photo_full.jpg')
            img(src='/images/placeholder/photo.jpg', alt='yikes')
          a.photo(href='/images/placeholder/photo_full.jpg')
            img(src='/images/placeholder/photo.jpg', alt='yikes')
          a.photo(href='/images/placeholder/photo_full.jpg')
            img(src='/images/placeholder/photo.jpg', alt='yikes')
          a.photo(href='/images/placeholder/photo_full.jpg')
            img(src='/images/placeholder/photo.jpg', alt='yikes')
          a.photo(href='/images/placeholder/photo_full.jpg')
            img(src='/images/placeholder/photo.jpg', alt='yikes')
          a.photo(href='/images/placeholder/photo_full.jpg')
            img(src='/images/placeholder/photo.jpg', alt='yikes')
          a.photo(href='/images/placeholder/photo_full.jpg')
            img(src='/images/placeholder/photo.jpg', alt='yikes')
          a.photo(href='/images/placeholder/photo_full.jpg')
            img(src='/images/placeholder/photo.jpg', alt='yikes')
          a.photo(href='/images/placeholder/photo_full.jpg')
            img(src='/images/placeholder/photo.jpg', alt='yikes')

        .content-bottom