///
// Configuration
// ============================================================================
//
// Variables for style elements
///


// Disable IE Filters
// These can slow down page rendering in IE
// @type Boolean
@disable-filters: false;

///
// Typography
// ----------------------------------------------------------------------------
///
@doc-base-font-size: 15px;
@doc-base-line-height: 1.618;
@doc-font-serif: Georgia, 'Times New Roman', Times, serif;
@doc-font-sans-serif: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@doc-font-mono: Courier, monospace;
@doc-base-font-family: @doc-font-sans-serif;
@doc-header-font-family: @doc-font-sans-serif;

///
// Site Colors
// ----------------------------------------------------------------------------
///
@doc-font-color: #444444;
@doc-heading-font-color: @doc-pink-color;
@doc-subheader-color: #777;
@doc-background-color: #FFFFFF;
@doc-link-color: @doc-dark-purple-color;
@doc-link-color-hover: darken(@doc-link-color, 10%);
@selection-background: #999;
@selection-color: #DDD;

@doc-pink-color: #de6296;
@doc-light-purple-color: #aa8da9;
@doc-dark-purple-color: #744675;