body.home {

  .home-top {
    .clearfix();
    margin-bottom: 40px;

    .slider {
      height: 536px;
      width: 496px;
      background: transparent url(/images/template/slider.png) no-repeat 0 0;
      float: right;
      text-align: center;

      img {
        margin: 90px 0 0 0;
      }

      p {
        text-align: left;
        padding: 15px 25px;
      }
    }

    .save-the-date {
      height: 412px;
      width: 411px;
      background: transparent url(/images/template/save_the_date.png) no-repeat 0 0;
      text-align: center;
      color: @doc-dark-purple-color;

      .day {
        padding-top: 70px;
        height: 130px;
        line-height: 130px;
        font-size: 130px;

        .numbers {
          letter-spacing: -4px;
          color: @doc-pink-color;
        }

        .superscript {
          margin-right: -37px;
        }
      }

      .month {

      }

      .time {

      }
    }

    .call-to-action {
      height: 101px;
      width: 313px;
      margin: 30px auto 0 auto;
      background: transparent url(/images/template/heart_button.png) no-repeat 0 0;
    }
  }
}