body {
  background-image: url(/images/bg.jpg);
}

.content-wrapper {
  background: transparent url(/images/top-bg.jpg) repeat-x 0 0;
}

#header {
  position: relative;

  .primary-navigation {
    width: 390px;
    height: 57px;
    padding: 47px 0 0 0;
    margin: 5px 0 0 0;
    background: transparent url(/images/menu_left.png) no-repeat 0 0;
    text-align: left;
    .inline-block();

    li {
      .inline-block();
      margin: 0 0 0 20px;

      a {
        display: block;
        color: #FFF;
        font-weight: bold;
        text-decoration: none;
      }
    }

    &.right {
      background: transparent url(/images/menu_right.png) no-repeat 0 0;
      float: right;
      text-align: right;
      padding-right: 25px;

      li {
        margin: 0 20px 0 0;
      }
    }

    &.left {
      padding-left: 25px;
    }
  }

  .logo {
    display: block;
    width: 298px;
    height: 163px;
    background: transparent url(/images/logo.png) no-repeat 0 0;
    top: -5px;
    left: 320px;
    position: absolute;
  }
}

#main {
  .clearfix();

  .slider {
    height: 536px;
    width: 496px;
    background: transparent url(/images/slider.png) no-repeat 0 0;
    float: right;
  }
}

#footer {

}